$text-primary:          #808080; // medium gray
$text-required:         #C00000; // dark red
$text-hero:             #FFFFFF; // white
$bg-primary:            #3B4259; // dark blue
$bg-gradient-primary:   #ADC5D9; // medium blue
$bg-gradient-secondary: #D6E2EC; // lighter blue
$accent1:               #E4EBF2; // ice blue
$accent2:               #758C23; // medium green
$accent3:               #52591E; // dark green
$box-shadow:            #BBBBBB; // light gray
$hover-color:           #E9ECEF; // lightest gray blue

$font-sans-serif: 'Fira Sans Condensed', sans-serif;
$font-cursive: 'Sriracha', cursive;

$width-sm:   576px;
$width-md:   768px;
$width-lg:   992px;
$width-xl:  1200px;