<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
     		<rule name="Allow LetsEncrypt" patternSyntax="Wildcard" stopProcessing="true">
          <match url=".well-known/*" />
          <action type="None" />
        </rule>
        <rule name="Rewrite pages" stopProcessing="true">
				 <match url="^(application|apply|confirm|login|logout)" />
          <action type="Rewrite" url="/public/index.php?url=pages/{R:0}" appendQueryString="true" />
				</rule>
				<rule name="Rewrite properties show" stopProcessing="true">
				 <match url="^properties/([0-9]+)$" />
          <action type="Rewrite" url="/public/index.php?url=properties/show/{R:1}" appendQueryString="true" />
				</rule>
				<rule name="Root" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/public/index.php?url=" appendQueryString="true" />
        </rule>
        <rule name="GotoPublic" stopProcessing="true">
          <match url="^(.+)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+\.(gif|jpg|jpeg|png|css|js|pdf)$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/index.php?url={R:1}" appendQueryString="true" />
        </rule>                           
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\InetPub\vhosts\handhrentalproperties.com\tmp" />
  </system.web>
</configuration>